*{
    margin: 0px;
    padding: 0px;
}

.imgLogoCibert{
    border-radius:50px 50px;
    
}
body{
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}
header{
    background:rgb(69,69,69);
    padding: 20px;
}
nav{
  
    padding: 20px;
}
nav ul {
    background-color: #fff;
    padding: 10px;

}


nav ul li{
    background-color: rgb(220, 229, 244);
     display: inline-block;
    padding: 2px
}
nav ul li:hover{
    background-color: rgb(244, 248, 255);
    font-size: 17px;
}
nav ul li a{
    padding-right:  20px;
    padding-left: 20px;
}

.nav2Header{
   
    color: #fff;
    text-align: left;
}
.blogsH2{
    color: #000;
    text-align: right;
}

/**/
#sectionBloger{
    padding-top: 10px;
 
    float: left;
    width: 65%;   
    box-sizing: border-box;
       border: 2px solid #c5d7d7;
}
aside{
    border-left: 0.7px solid #fff;
    width: 35%;    
    float: left;
    padding: 10px;    
    box-sizing: border-box;
    border: 2px solid #c5d7d7;
}
footer{
    clear: both;
}
